@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

body {
  background-color: #002b36;
  color: #839496;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-weight: 200;
  font-size: 4em;
  color: #93a1a1;
  margin-bottom: 0;
}
h2 {
  font-weight: 200;
  font-size: 2em;
  color: #b58900;
  margin-top: 0;
}

a {
  color: #268bd2;
  text-decoration: none;
  transition: color 0.6s ease;
}

a:hover {
  color: #859900;
}

.part {
  margin-top: 6%;
  text-align: center;
}

.icon-container {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.icon {
  text-align: center;
  font-size: 5em;
}

.desc {
  text-align: center;
  line-height: 1.5em;
}

.cv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cv .desc {
  margin-left: 2em;
}
